
* {
  box-sizing: border-box;
}

.main-box{
  display:flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
}

form {
  display:flex;
  flex-direction: row;
  align-items: center;
}

body {
  height: 100%;
  padding: 50px;
  display: grid;
  font-family: Avenir;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

a {
  color: #00B7FF;
}

.clock {
  font-size: 50px;
}

.form-group {
  display: flex;
  
}

p {
  font-size: 25px;
}
.name {
  position: relative;
  margin: auto;
  width: 100%;
  max-width: 280px;
}
.name .label {
  position: absolute;
  top: 16px;
  left: 0;
  font-size: 16px;
  color: #9098a9;
  font-weight: 500;
  transform-origin: 0 0;
  transition: all 0.2s ease;
}
.name .border {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background: rgb(0, 81, 255);
  transform: scaleX(0);
  transform-origin: 0 0;
  transition: all 0.15s ease;
}
.name input {
  -webkit-appearance: none;
  width: 100%;
  border: 0;
  font-family: inherit;
  padding: 12px 0;
  height: 48px;
  font-size: 16px;
  font-weight: 500;
  border-bottom: 2px solid #c8ccd4;
  background: none;
  border-radius: 0;
  color: #223254;
  transition: all 0.15s ease;
}
.name input:hover {
  background: rgba(34,50,84,0.03);
}
.name input:not(:placeholder-shown) + .label {
  color: #5a667f;
  transform: translateY(-26px) scale(0.75);
}
.name input:not(:placeholder-shown) + .border {
  color: #5a667f;
  transform: translateY(-26px) scale(0.75);
}
.name input:focus {
  background: none;
  outline: none;
}
.name input:focus + .label {
  color: rgb(0, 81, 255);
  transform: translateY(-26px) scale(0.75);
}
.name input:focus + .label + .border {
  transform: scaleX(1);
}

.transitions-off * {
  -webkit-transition: none !important;
  transition: none !important;
}
time {
  height: 100%;
  width: 100%;
  font-family: Lato, arial;
  position: relative;
  left: 0;
  right: 0;
  margin: 0;
  display: block;
  text-align: center;
}
.dial-container {
  display: inline-block;
  position: relative;
  text-align: center;
  margin: auto;
  -webkit-perspective: 1000;
          perspective: 1000;
  height: 100px;
  width: 65px;
  cursor: default;
}
.dial-container.dial-container--hh {
  width: 120px;
  margin-right: 5px;
}
time span {
  width: 65px;
  height: 50px;
}
.dial {
  top: 0;
  height: 25px;
/* overflow: hidden */
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  position: absolute;
  z-index: 3;
  -webkit-transform-origin: 50px 50px;
          transform-origin: 50px 50px;
}
time span {
  display: block;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  overflow: hidden;
  background: #3d4fa0;
  color: #fff;
  text-align: center;
  line-height: 100px;
  font-size: 80px;
  font-weight: bold;
  border-radius: 10px 10px 0 0;
}
.dial-container--ss span,
.dial-container--mm span {
  text-align: right;
  padding-right: 2px;
  border-radius: 10px 0 0 0;
}
.dial-container--hh span {
  text-align: center;
  min-width: 120px;
}
.dial-container--s span,
.dial-container--m span {
  text-align: left;
  padding-left: 2px;
  border-radius: 0 10px 0 0;
}
time span:first-child {
  z-index: 2;
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  background-color: #3d4fa0;
  color: #ccc;
}
time span:first-child:after {
  display: block;
  width: 100%;
  height: 1px;
  background: rgba(61, 121, 211, 0.2);
  content: ' ';
  position: absolute;
  bottom: 0;
  left: 0;
}
time span:last-child {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  border-radius: 0 0 10px 10px;
  line-height: 0;
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}
.dial-container--ss span:last-child,
.dial-container--mm span:last-child {
  border-radius: 0 0 0 10px;
}
.dial-container--s span:last-child,
.dial-container--m span:last-child {
  border-radius: 0 0 10px 0;
}
.dial--static,
.dial--next {
  -webkit-transform: rotateX(0deg) !important;
          transform: rotateX(0deg) !important;
}
.dial--flipped {
  z-index: 2;
  -webkit-transform: rotateX(180deg) !important;
          transform: rotateX(180deg) !important;
}
.dial--next {
  z-index: 2;
}
.dial--later {
  z-index: 1;
}

.submit {
  outline: none;
  border: none;
}

.dial-container.dial-container--m {
  margin-right: 5px;
}